{% extends "tickets/base.html" %} 
{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1 class="welcome text-center mt-3 mb-5">Welcome to MothRadar</h1>
      <div class="row">
        <div class="col-12">
          <div class="card homeCard">
            <h2>Submit tickets.</h2>
            <p class="mt-3">
              MothRadar is the issue tracker for our UnicornAttractor app.<br><br>
              While the UnicornAttractor is awesome in every way, we are aware that it is not immune to bugs. Therefore we provide you with MothRadar to raise a ticket on any <strong>Bug</strong> you find, so we can throw the bug out at the first opportunity.<br><br>
              You know a way to make our UnicornAttractor even more awesome? <br>
              In that case, you can raise a ticket on a <strong>Feature</strong> that you would like us to implement in the app. 
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card homeCard">
            <h2>Browse existing issues.</h2>
            <p class="mt-3">
              Being a superb radar, MothRadar never loses track of any bug that enters into its sight.<br><br>
              To make it easier for you to find a specific Bug or Feature ticket, use the <strong>Search</strong> functionality in the Tickets view.<br><br>
              Or, if you prefer to browse, use one of the awesome filters we've created for you, to view <strong>Bugs only</strong> or <strong>Features only</strong>.<br><br>
              You can even filter <strong>your tickets only</strong> just to remind yourself how awesome you are at bug-spotting.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card homeCard">
            <h2>Upvote tickets to get them fixed sooner.</h2>
            <p class="mt-3">
              While keeping UnicornAttractor bug-free is our top priority, it is impossible to attend to all bugs and features simultaneously. That is why we have implemented our ticket upvoting system.<br><br>
              Just find that Bug you really really want to get rid of, and click the <strong>Upvote button</strong>. That's all there is to it. <strong>Upvoting bugs is completely free.</strong><br><br>
              For the Feature tickets, the process is the same, except that <strong>upvoting Features is a paid service.</strong> Think of it as buying a new shining accessory for your car.<br><br> 
              At the end of each month, we will review the upvotes list and dedicate 50% of our maintenance work time to fixing Bugs (with priority given to the top-voted ones), and the other 50% to implementing the most upvoted Feature on the list.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card homeCard">
            <h2>Comment on issues to help others.</h2>
            <p class="mt-3">
              You have found a way around a bug? Please let our users (and us!) know about it by leaving a <strong>comment below the ticket</strong>.<br><br>
              Perhaps you have additional information (or a different viewpoint) on a bug already described? Great, put it in a comment, it will help everyone!<br><br>
              You can even just debate if something is a bug or a feature - we take all user comments seriously.<br><br>
              We have just one requirement: <em>please keep the discussion civilised at all times.</em>
            </p>
          </div>
        </div>
      </div>
      {% if not user.is_authenticated %}
      <h5 class="text-center mt-4">
        <a href="{% url 'register' %}">Create an account</a> now, or <a href="{% url 'login' %}">log in</a> if you already have one.
      </h5>
      {% endif %}
    </div>
  </div> 
{% endblock %}
