{% extends "tickets/base.html" %} {% block content %}
<h1 class="text-center mt-3 mb-5">Welcome to MothRadar!</h1>
<div class="row">
  <div class="col-12">
    <div class="card homeCard">
      <h2>Submit tickets.</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam est,
        tempora sint placeat, esse sit ipsa consequuntur totam eum, deleniti
        vero! Error sint numquam illum distinctio quo laudantium amet nam
        aliquid quia soluta veniam saepe iure debitis quisquam et, repellendus
        sit beatae, praesentium laborum sed. Dignissimos nesciunt fuga
        necessitatibus eligendi.
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card homeCard">
      <h2>Browse existing issues.</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita facere
        a commodi ipsum repellendus sequi eos incidunt aut ducimus, inventore
        quaerat possimus pariatur, assumenda dolorum illum nemo temporibus,
        corrupti officia totam magnam atque. Facilis impedit consequuntur minus
        quod nesciunt quaerat accusamus deleniti. Dolore laboriosam alias
        architecto enim debitis natus sapiente.
      </p>
      <p></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card homeCard">
      <h2>Upvote tickets to get them fixed sooner.</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea repellat
        distinctio fuga ullam quas quam, quibusdam magni numquam in, odio quidem
        pariatur harum perspiciatis reiciendis, delectus mollitia nostrum hic
        quis deleniti inventore eligendi veniam itaque et? Eveniet eius
        cupiditate hic! Architecto ea eveniet in voluptatibus fuga, sint magnam
        quos repellendus?
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card homeCard">
      <h2>Comment on issues to help others.</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque
        architecto aut iusto doloremque, ab ducimus, deleniti praesentium
        repellendus est sunt, ipsam deserunt qui aliquid id ut consequatur
        laborum enim ad.
      </p>
    </div>
  </div>
</div>
{% if not user.is_authenticated %}
<h5 class="text-center mt-4">
  <a href="{% url 'register' %}">Create an account</a> now, or
  <a href="{% url 'login' %}">log in</a> if you already have one.
</h5>
{% endif %} {% endblock %}
