{% extends "tickets/base.html" %} 
{% load crispy_forms_tags %}
{% block content%}
    <h2>{{ ticket.title }}</h2>
    <p>{{ ticket.description }}</p>
    <p>{{ ticket.date_created }}</p>
    <p>{{ ticket.author }}</p>
    <p><strong>{{ ticket.ticket_type }}</strong></p>
    <p><em>{{ ticket.status }}</em></p>
    {% if user.is_authenticated and user == ticket.author %}
        <div>
        <a class="btn btn-info" href="{% url 'ticket-edit' ticket.id %}">Edit</a>
        <a class="btn btn-danger" href="{% url 'ticket-delete' ticket.id %}"
            >Delete</a
        >
        </div>
    {% endif %} 

<!-- Comments ---> 
    {% if user.is_authenticated %}
        <form method="POST">
            {% csrf_token %} 
            {{ form|crispy }}
            <div>
                <button class="btn btn-info" type="submit">Submit</button>
            </div>
        </form>
    {% endif %}
    {% for comment in comments %}
        <div class="card">
        <p><small>Posted by {{ comment.author }} on {{ comment.created|date:"j M Y"}} at {{ comment.created|time:"G i"}}</small></p>
            <p>{{ comment.text }}</p>
        </div>
    {% empty %}
        <p>No comments yet.</p>
    {% endfor %}
<!-- ./Comments ---> 
{% endblock %}
