{% extends "tickets/base.html" %} 
{% block content%}
<br />
<div class="card">
  <h2>{{ object.title }}</h2>
  <p>{{ object.description }}</p>
  <p>{{ object.date_created }}</p>
  <p>{{ object.author }}</p>
  <p><strong>{{ object.ticket_type }}</strong></p>
  <p><em>{{ object.status }}</em></p>
  {% if user.is_authenticated and user == object.author %}
  <div>
    <a class="btn btn-info" href="{% url 'ticket-edit' object.id %}">Edit</a>
    <a class="btn btn-danger" href="{% url 'ticket-delete' object.id %}"
      >Delete</a
    >
  </div>
  {% endif %}
  <br />
</div>
<!-- Comments --->
<div id="comments">
<br />
<!-- comments "form" -->
{% if user.is_authenticated %}
    <textarea name="" id="text" cols="95" rows="3" placeholder="Your comment:"></textarea>
    <div>
        <button id="postComment" class="btn btn-info btn-sm">Post comment</button>
    </div>  
<!--</form>-->
{% endif %}
<br />
<!-- New comment -->
<div id="newComment" class="card">
  <p>
    <small>Posted by <span id="newCommentAuthor"></span> a moment ago</small>
  </p>
  <p id="newCommentText"></p>
</div>
<!-- ./New comment -->
{% for comment in comments %}
<div class="card">
    <small class="commentId">{{ comment.id }}</small>
  <p>
    <small
      >Posted by {{ comment.author }} on {{ comment.created|date:"j M Y"}} at {{ comment.created|time:"G i" }}</small>
  </p>
  <p>{{ comment.text }}</p>
</div>
{% empty %}
<p>No comments yet.</p>
{% endfor %}
</div>
<!-- ./Comments --->
{% endblock %}
