{% extends "tickets/base.html" %} 
{% block content %}
<br />

<div class="card">
  <div class="card-body">
    <div class="list-card-title-line">
      <span class="list-card-type-{{object.ticket_type}}"><strong>{{ object.ticket_type }}</strong></span>
      <span class="text-muted">Submitted: {{ object.date_created }} by <strong>{{ object.author }}</strong></span>
      <span class="list-card-status-{{ object.status }}"><em>{{ object.status }}</em></span>
    </div>
    <h5 class="card-title detail-title">{{ object.title }}</h5>
    <p class="card-text mb-5">
      {{ object.description }}
    </p>
    <hr>
    <div class="upvote-line mt-4">
      {% block upvotes %} 
      {% endblock upvotes %} 
    </div>
    {% if user.is_authenticated and user == object.author %}
    <a class="btn btn-info" href="{% url 'ticket-edit' object.id %}">Edit</a>
    <a class="btn btn-danger" href="{% url 'ticket-delete' object.id %}"
        >Delete</a
      >
    {% endif %}
  </div>
</div>
<br>
  {% block comments %} 
  {% endblock comments %} 
{% endblock content %}


