{% extends "tickets/ticket_detail.html"%} 

{% block comments %}
  <div id="commentsArea" class="mt-4">
    <h5 class="ml-1 mb-3">Comments: </h5>
    <div id="commentsList">
      {% for comment in comments %}
      <div class="card comment-card mt-2">
        <div class="card-body">
          <small class="commentId d-none">{{ comment.id }}</small>
          <small class="card-subtitle text-muted">Posted by <strong>{{ comment.author }}</strong> on {{ comment.created|date:"j M Y" }} at {{ comment.created|time:"G i" }}</small>
          <p class="card-text mt-3">{{ comment.text }}</p>
        </div>
      </div>
      {% empty %}
        <p id="noComment" class="ml-1"><em>No comments yet.</em></p>
      {% endfor %}
      <!-- New comments -->
      <!-- ./New comments -->
    </div>
  </div>
    <br />
    <!-- comments "form" -->
    {% if user.is_authenticated %}
    <div class="form-group">
      <textarea class="textarea form-control" id="commentTextArea" rows="3" placeholder="Your comment:"></textarea>
      <div>
        <button id="postComment" class="btn btn-info btn-sm mt-2">
          Post comment
        </button>
        <small id="commentMessage"></small>
      </div>
    </div>
    {% endif %}
    <!--./comments "form"-->
    <br />
{% endblock comments %}
