{% extends "tickets/base.html" %} 
{% load crispy_forms_tags %} 
{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h4 class="mb-4">Password reset</h4>
      <h6 class="mb-4">
        <em>Please enter your email address for password reset instructions.</em>
      </h6>
      <form method="POST">
        {% csrf_token %} {{ form|crispy }}
        <div>
          <button class="btn btn-info" type="submit">Reset Password</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
