@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");


/* ----- General styles ----- */

body {
  background-color: #222121;
  color: #b9b7b7;
  font-family: "Open Sans", sans-serif;
}

.container {
  min-height: 92vh;
}

form input,
form textarea,
form select {
  background-color: #aaaaaa !important;
  color: #000 !important;
}

.card {
  background-color: #2f2f2f;
}

.card hr {
  background-color: #000;
}

/* ----- Navbar ----- */

.bg-dark {
  background-color: #1a1919 !important;
}

#ticket-button {
  color: #dddddd;
}

/* ----- Home Page ----- */

/* Homepage heading animation coded using help from W3Schools */
.welcome {
  animation-name: radar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate; 
  animation-timing-function: linear;
}

@keyframes radar {
  from {color: #b9b7b7;}
  to {color: #008000;}
} 

.homeCard {
  margin-bottom: 1rem;
  padding: 3rem;
  transition: background-color 1s linear;
}

.homeCard:hover {
  background-color: #4b4a4a;
}

.homeCard p {
  display: none;
}

/* ----- Comments ----- */

#commentTextArea {
  width: 100%;
  background-color: #525252;
  color: #a9a9a9;
}

#commentTextArea::placeholder {
  color: #a9a9a9;
}

.comment-card {
  margin-top: 0.5rem;
  background-color: #2c2c2c;
}

#commentMessage {
  margin-left: 2rem;
}

.newComment {
  display: none;
  background-color: rgba(0, 255, 0, 0.1);
}

/* ----- Ticket List View ----- */

#upvoteCount,
.list-upvote-count span {
  font-size: 1rem;
}

.list-upvote-count {
  padding-top: 1.5px;
}

.list-card-title-line,
.list-card-status-line,
.upvote-line {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.list-card-title-line h5 {
  max-width: 85%;
}

.list-card-type-BUG,
.list-card-type-FEATURE {
  padding: 0rem 0.4rem;
  border-radius: 5px;
}

.list-card-type-BUG {
  color: #000;
  background-color: rgba(255, 255, 0, 0.5);
}

.list-card-type-FEATURE {
  color: #acabab;
  background-color: rgba(82, 3, 119, 0.7);
}

#statspan{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.list-card-status-OPENED,
.list-card-status-INPROG,
.list-card-status-SOLVED {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: bold;
  margin-left: 0.5rem;
}

.list-card-status-OPENED {
  color: rgba(255, 255, 255, 0.7);
}

.list-card-status-INPROG {
  color: rgba(255, 192, 203, 0.7);
}

.list-card-status-SOLVED {
  color: rgba(0, 128, 0, 0.7);
}

.list-upvote-count span,
#upvoteCount {
  opacity: 0.7;
}

/* ----- Sidebar ----- */

.sidebar {
  margin-top: 0.5rem;
}

.list-group-item-dark {
  background-color: #2c2b2b;
  color: #b9b7b7;
}

.list-group-item-dark.active {
  background-color: #555555;
  border: none;
}

.list-group-item-dark a {
  color: #b6b5b5;
}

#search {
  background-color: #525252;
  border: none;
  color: #cecccc;
}

#search::placeholder {
  color: #000;
}

.pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-size: 1.2rem;
  font-weight: 600;
}

/* ----- Payment Modal ----- */ 

.modal-content {
  background-color: #c0bdbd !important;
  color: #000;
  border: none;
}

.modal-header,
.modal-footer {
  border: none;
}

/* ----- Alert bar ----- */

.alert-danger {
  background-color: #f64343;
  color: #000;
  border: none;
}

button.close {
  color: #000 !important;
}

/* ----- Footer ----- */

footer {
  background-color: #1f1e1e;
  color: #a1a0a0;
  height: 4vh;
  padding: 0.5rem;
}

footer p {
  margin: 0;
}

footer a {
  color: #5c5b5b;
}