{% extends "tickets/base.html" %} 
{% load static %} 
{% load crispy_forms_tags %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h4 class="mb-5">Upvote Feature - payment details</h4>
        <form id="payment-form" method="POST" action="{% url 'upvote-paid' ticket.id %}">
          {% csrf_token %} {{ form|crispy }}
          <div class="mt-4 align-middle">
            <button type="submit" id="completePayment" class="btn btn-info">
              Complete Payment
            </button>
            <span class="ml-3 text-danger" id="stripe-error-message"></span>
          </div>
        </form>
    </div>
  </div>
{% endblock %} 
{% block stripe_js %}
  <script src="https://js.stripe.com/v2/"></script>
  <script>
    //<![CDATA[
    Stripe.publishableKey = "{{ publishable }}";
    //]]>
  </script>
  <script src="{% static 'upvotes/js/stripe.js' %}"></script>
{% endblock %}
