{% extends "tickets/base.html" %}
{% load static %}
{% load crispy_forms_tags %} 

{% block head_js %}
    <script>
        //<![CDATA[
            Stripe.publishableKey = "{{ publishable }}";
        //]]>
    </script>
    <script src="{% static 'upvotes/stripe.js' %}"></script>
{% endblock %}

{% block content %}
<form method="POST">
    {{ form|crispy }}
    <div>
      <button type="submit" id="completePayment" class="btn btn-info">Complete Payment</button>
    </div>
</form>
{% endblock %}
