{% extends "comments/comments.html" %}
{% block upvotes %}
{% if uv_status %}
    {% if ticket.ticket_type == "Bug" %}
    <span
        ><button id="upvote" type="button" class="btn btn-primary">
        Upvote! <span class="badge badge-light">{{ upvotes }}</span>
        </button></span
    > 
    <span id="upvoteMessage">Some message</span>
    {% else %}
    <span
        ><button id="upvotePaid" type="button" class="btn btn-primary">
        <i class="fas fa-lock"></i>&nbsp;Upvote!  <span class="badge badge-light">{{ upvotes }}</span>
        </button></span
    > 
    <span id="upvoteMessage">Some message</span>
    {% endif %}
{% else %}
    <span
        ><button id="upvoteDone" type="button" class="btn btn-secondary" disabled>
        Upvotes <span class="badge badge-light">{{ upvotes }}</span>
        </button></span
    > 
    <span id="upvoteMessage">Something else</span>
{% endif %}
{% endblock upvotes %}
