{% extends "comments/comments.html" %} 
{% block upvotes %} 
  {% if uv_status %} 
    {% if object.ticket_type == "BUG" %}
    <span>Upvotes: <span id="upvoteCount" class="badge badge-light">{{ upvotes }}</span></span>
      {% if user.is_authenticated %}
        <span class="d-none d-sm-inline" id="upvoteMessage"></span>
        <span><button id="upvoteFree" class="btn btn-primary">Upvote!</button></span>
      {% endif %}
    {% else %}
    <span>Upvotes: <span id="upvoteCount" class="badge badge-light">{{ upvotes }}</span></span>
      {% if user.is_authenticated %}
        <span class="d-none d-sm-inline" id="upvoteMessage"></span>
        <span><button id="upvotePaid" class="btn btn-primary" data-toggle="modal" data-target="#paymentModal">
            <i class="fas fa-lock"></i>&nbsp;Upvote!
          </button></span>
      {% endif %}
    {% endif %} 
  {% else %}
    <span>Upvotes: <span id="upvoteCount" class="badge badge-light">{{ upvotes }}</span></span>
      {% if user.is_authenticated %}
        <span class="d-none d-sm-inline" id="upvoteMessage"></span>
        <span><button id="upvoteDone" class="btn btn-secondary" disabled>Upvoted</button></span>
      {% endif %}
  {% endif %}
  <!-- Bootstrap Modal -->
  <div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="paymentModalLabel">&nbsp;</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-center">Upvoting of a Feature ticket is a paid service.</p>
          <h4 class="text-center mb-3">Price: EUR 10</h4>
          <p class="text-center">You will be redirected to payment processing. Continue?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancel
          </button>
          <a class="btn btn-primary" href="{% url 'upvote-paid' ticket.id %}">Proceed</a>
        </div>
      </div>
    </div>
  </div>
  <!-- ./Bootstrap Modal -->
{% endblock upvotes %}
